config.version = 1 # Config language version, not version of this file
config.cxx = cl /MD
config.cc.poptions += /utf-8 /Zc:preprocessor /DNDEBUG \
    /D_SILENCE_CXX20_IS_ALWAYS_EQUAL_DEPRECATION_WARNING /D_SILENCE_CXX23_DENORM_DEPRECATION_WARNING /D_MSVC_STL_HARDENING=1
config.cc.coptions += /O2 /W4
