config.version = 1 # Config language version, not version of this file
config.cxx = cl /MDd
config.cc.poptions += /utf-8 /Zc:preprocessor \
    /D_SILENCE_CXX20_IS_ALWAYS_EQUAL_DEPRECATION_WARNING /D_SILENCE_CXX23_DENORM_DEPRECATION_WARNING /D_MSVC_STL_HARDENING=1
config.cc.coptions += /Od /Zi /W4
config.cc.loptions += /DEBUG